CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -Werror
    - -pedantic
Diagnostics:
  ClangTidy:
    Add:
    - bugprone*
    - cppcoreguidelines*
    - modernize*
    - performance*
    - readability*
    Remove:
    - bugprone-empty-catch
    - bugprone-easily-swappable-parameters
    - cppcoreguidelines-avoid-magic-numbers
    - cppcoreguidelines-special-member-functions
    - modernize-use-nodiscard
    - modernize-use-trailing-return-type
    - readability-identifier-length
    - readability-identifier-naming
    - readability-implicit-bool-conversion
    - readability-uppercase-literal-suffix
    FastCheckFilter: Loose
  UnusedIncludes: Strict
  Suppress: []
